* {
  margin: 0px;
  padding: 0px;
}

h2 {
  color: #ffa400;
}

body {
  background-color: #033855;
  color: white;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #042131;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0px 25px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-decoration: none;
  color: #ffa400;
}

.left {
  font-size: 1.5rem;
  display: flex;
}

.left img {
  margin-right: 20px;
  border-radius: 50px;
  height: 40px;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35rem;
}

.firstSection > div {
  width: 30%;
  margin-top: 40px;
}

.leftSection {
  font-size: 2rem;
  margin-left: 50px;
}

.leftSection .buttons {
  padding-top: 50px;
}

.leftSection .btn {
  padding: 12px;
  margin-right: 25px;
  background: transparent;
  color: #ffa400;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.leftSection .btn:hover {
  background: white;
  color: #ffa400;
}

.rightSection img {
  width: 90%;
  margin-left: 45px;
}

.purple {
  color: #ffa400;
}

#element {
  color: #ffa400;
}

.secondSection {
  max-width: 80vw;
  margin: auto;
}

main hr {
  border: 0;
  background: white;
  height: 10px;
  margin: 40px 0;
}

.secondSection {
  height: 550px;
  padding-top: 70px;
}

.secondSection h1 {
  font-size: 1.9rem;
  color: #ffa400;
}

.secondSection .box {
  height: 2px;
  background: white;
  width: 80vw;
  margin: 56px 0;
  display: flex;
}

.secondSection .vertical {
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0px 120px;
}

.textGrey {
  color: white;
}

.imageTop {
  width: 30px;
  position: relative;
  top: -40px;
  left: -14px;
}

.verticalTittle {
  position: relative;
  top: 75px;
  width: 150px;
  font-size: 20px;
  color: #ffa400;
}

.verticalDesc {
  position: relative;
  top: 100px;
  color: white;
  width: 150px;
  font-size: 10px;
}

footer {
  background-color: #042131;
}

.footer {
  display: flex;
  padding: 40px 122px;
  justify-content: space-evenly;
  color: #ffa400;
}

.footerFirst {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.footerSecond {
  margin: 0px 50px;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  text-decoration: none;
  color: #ffa400;
  /* font-size: 15px; */
}

.footer > div {
  width: 223px;
}

footer .footerRight {
  text-align: center;
  color: grey;
  padding: 12px 0;
}

@media (min-width: 1024px) {
  #mynav {
    display: none;
  }
  .my-button {
    display: none;
  }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1023px) {
}

/* Smartphone */
@media (max-width: 480px) {
  #mynav {
    display: none;
  }

  #mynav.show {
    display: flex;
  }

  #mynav1 {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav {
    /* width: auto; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(62, 109, 149); */
  }

  .right-up li {
    margin-right: 35px;
  }

  nav .left {
    margin: 0px 20px;
    align-items: center;
  }

  nav .left img {
    margin-right: 0px;
  }

  .right ul {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
    width: auto;
  }

  .my-button {
    display: block;
    height: 40px;
    width: 40px;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin: auto;
  }

  .firstSection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: start; */
    font-size: 10px;
    height: 38rem;
  }

  .firstSection .leftSection {
    margin: 50px 0px;
    /* margin-left: 16px; */
    width: auto;
    text-align: center;
    font-size: 30px;
  }

  .leftSection .btn {
    margin: 0px 10px;
  }

  .firstSection .rightSection {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .firstSection .rightSection img {
    margin: 0px;
    height: 250px;
    width: 250px;
  }

  .container {
    display: inline-block;
    cursor: pointer;
    margin: 0pc 20px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(45deg);
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(-45deg);
  }
}
